{
   project =
   {
      description="🚮 A lock-free, cross-platform solution to the ABA problem";
      domain="github";
      name="mulle-aba";
      user="mulle-concurrent";
      repo="mulle-aba";
      homepage="https://github.com/mulle-concurrent/mulle-aba";
      version="3.1.4";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="github";
         name="mulle-allocator";
         repo="mulle-allocator";
         url="https://github.com/mulle-c/mulle-allocator";
         user="mulle-c";
      },
      {
         description="🔠 Cross-platform thread/mutex/tss/atomic operations in C";
         domain="github";
         name="mulle-thread";
         repo="mulle-thread";
         url="https://github.com/mulle-concurrent/mulle-thread";
         user="mulle-concurrent";
      },
      {
         description="🔂 mulle-linkedlist a wait and lock-free linked list";
         domain="github";
         name="mulle-linkedlist";
         repo="mulle-linkedlist";
         url="https://github.com/mulle-concurrent/mulle-linkedlist";
         user="mulle-concurrent";
      }
   );
}
